<a href="https://colab.research.google.com/github/satish32689/FDS-foundation-of-datascience/blob/main/Pandas_LabPractice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.Write a Pandas program to create a dataframe from a dictionary and display
it.
Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

In [ ]:
import pandas as pd
df=pd.DataFrame({'X':[78,85,96,80,86,],
                 'Y':[84,94,89,83,86],
                 'Z':[86,97,96,72,83]})
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd
import numpy as np

exam_date = {'name':['anastasia','dima','Katherine','james','emily','michael','matthew','laura','kevin','jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'ateempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_date, index=labels)
print(df)

        name  score  ateempts qualify
a  anastasia   12.5         1     yes
b       dima    9.0         3      no
c  Katherine   16.5         2     yes
d      james    NaN         3      no
e      emily    9.0         2      no
f    michael   20.0         3     yes
g    matthew   14.5         1     yes
h      laura    NaN         1      no
i      kevin    8.0         2      no
j      jonas   19.0         1     yes
        name  score  ateempts qualify
a  anastasia   12.5         1     yes
b       dima    9.0         3      no
c  Katherine   16.5         2     yes
d      james    NaN         3      no
e      emily    9.0         2      no
f    michael   20.0         3     yes
g    matthew   14.5         1     yes
h      laura    NaN         1      no
i      kevin    8.0         2      no
j      jonas   19.0         1     yes

 Write a Pandas program to get the first 3 rows of a given DataFrame. Sample

In [ ]:
import pandas as pd
import numpy as np

exam_date = {'name':['anastasia','dima','Katherine','james','emily','michael','matthew','laura','kevin','jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'ateempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_date, index=labels)
#get first three rows from data base
print(df.iloc[:3])

        name  score  ateempts qualify
a  anastasia   12.5         1     yes
b       dima    9.0         3      no
c  Katherine   16.5         2     yes

4. Write a Pandas program to select the 'name' and 'score' columns from the
following DataFrame.

In [ ]:
import pandas as pd
import numpy as np


exam_date = {'name':['anastasia','dima','Katherine','james','emily','michael','matthew','laura','kevin','jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'ateempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_date, index=labels)
#select specific columns
print(df[['name','score']])

        name  score
a  anastasia   12.5
b       dima    9.0
c  Katherine   16.5
d      james    NaN
e      emily    9.0
f    michael   20.0
g    matthew   14.5
h      laura    NaN
i      kevin    8.0
j      jonas   19.0

Write a Pandas program to select the rows where the number of attempts in
the examination is greater than 2.

In [ ]:
import pandas as pd
import numpy as np

exam_date = {'name':['anastasia','dima','Katherine','james','emily','michael','matthew','laura','kevin','jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'attempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_date, index=labels)
#number of attempts in examination is freater than 2
print(df[df['attempts']>2])

      name  score  attempts qualify
b     dima    9.0         3      no
d    james    NaN         3      no
f  michael   20.0         3     yes

6. Write a Pandas program to select the rows where the score is missing, i.e.
is NaN.

In [ ]:
import pandas as pd
import numpy as np


exam_date = {'name':['anastasia','dima','Katherine','james','emily','michael','matthew','laura','kevin','jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'attempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_date, index=labels)
#rows where score is missing
print(df[df['score'].isnull()])

    name  score  attempts qualify
d  james    NaN         3      no
h  laura    NaN         1      no

 Write a Pandas program to calculate the mean of all students' scores. Data
is stored in a dataframe.

In [ ]:
import pandas as pd
import numpy as np


exam_date = {'name':['anastasia','dima','Katherine','james','emily','michael','matthew','laura','kevin','jonas'],
             'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
             'attempts':[1,3,2,3,2,3,1,1,2,1],
             'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels=['a','b','c','d','e','f','g','h','i','j']

df=pd.DataFrame(exam_date, index=labels)
print("Mean score for each different student in data frame")
print(df['score'].mean())

Mean score for each different student in data frame
13.5625

![image.png]()

In [ ]:
import pandas as pd
data1=pd.DataFrame({
    'std_id':['s1','s2','s3','s4','s5'],
    'name':['satish','aryan','pritanshu','oshank','tanu'],
    'marks':[200,210,190,222,199]})

data2=pd.DataFrame({
    'std_id':['s4','s5','s6','s7','s8'],
    'name':['sakshi','charu','aryan2','priyanshu2','satish2'],
    'marks':[201,200,198,219,201]
})

print("original dataframe")
print(data1)
print("\n")
print(data2)

#concat function use
print("\n join data set ")
data=pd.concat([data1, data2])
print(data)

original dataframe
  std_id       name  marks
0     s1     satish    200
1     s2      aryan    210
2     s3  pritanshu    190
3     s4     oshank    222
4     s5       tanu    199


  std_id        name  marks
0     s4      sakshi    201
1     s5       charu    200
2     s6      aryan2    198
3     s7  priyanshu2    219
4     s8     satish2    201

 join data set
  std_id        name  marks
0     s1      satish    200
1     s2       aryan    210
2     s3   pritanshu    190
3     s4      oshank    222
4     s5        tanu    199
0     s4      sakshi    201
1     s5       charu    200
2     s6      aryan2    198
3     s7  priyanshu2    219
4     s8     satish2    201

9. Write a Pandas program to join the two given dataframes along columns
and assign all data.

In [ ]:
import pandas as pd
data1=pd.DataFrame({
    'std_id':['s1','s2','s3','s4','s5'],
    'name':['satish','aryan','pritanshu','oshank','tanu'],
    'marks':[200,210,190,222,199]})

data2=pd.DataFrame({
    'std_id':['s4','s5','s6','s7','s8'],
    'name':['sakshi','charu','aryan2','priyanshu2','satish2'],
    'marks':[201,200,198,219,201]
})

print("original dataframe")
print(data1)
print("\n")
print(data2)
# join two data set along with columns
data=pd.concat([data1, data2], axis=1)
print(data)

original dataframe
  std_id       name  marks
0     s1     satish    200
1     s2      aryan    210
2     s3  pritanshu    190
3     s4     oshank    222
4     s5       tanu    199


  std_id        name  marks
0     s4      sakshi    201
1     s5       charu    200
2     s6      aryan2    198
3     s7  priyanshu2    219
4     s8     satish2    201
  std_id       name  marks std_id        name  marks
0     s1     satish    200     s4      sakshi    201
1     s2      aryan    210     s5       charu    200
2     s3  pritanshu    190     s6      aryan2    198
3     s4     oshank    222     s7  priyanshu2    219
4     s5       tanu    199     s8     satish2    201

10. Write a Pandas program to append rows to an existing DataFrame and
display the combined data.
Test Data:
Pandas Exercises
tudent_data1
 student_id name marks
0 S1 Danniella Fenton 200
1 S2 Ryder Storey 210
2 S3 Bryce Jensen 190
3 S4 Ed Bernal 222
4 S5 Kwame Morin 199
New Row(s)
student_id S6
name Scarlette Fisher
marks 205
dtype: object

In [ ]:
import pandas as pd
data1=pd.DataFrame({
    'std_id':['s1','s2','s3','s4','s5'],
    'name':['satish','aryan','priyanshu','oshank','tanu'],
    'marks':[200,210,190,222,199]
})

s6=pd.Series(['s6',"satish1",205],index=['std_id','name','marks'])
print("original data frames ")
print(data1)

print("new row")
print("\n", s6)
data=data1.append(s6,ignore_index=True)
print("\n new data")
print(data)

original data frames
  std_id       name  marks
0     s1     satish    200
1     s2      aryan    210
2     s3  priyanshu    190
3     s4     oshank    222
4     s5       tanu    199
new row

 std_id         s6
name      satish1
marks         205
dtype: object

 new data
  std_id       name  marks
0     s1     satish    200
1     s2      aryan    210
2     s3  priyanshu    190
3     s4     oshank    222
4     s5       tanu    199
5     s6    satish1    205

<ipython-input-20-e8d823282502>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data1.append(s6,ignore_index=True)

Write a Pandas program to display the dimensions or shape of the World
alcohol consumption dataset. Also extract the column names from the dataset.
Test Data:
 Year WHO region Country Beverage Types Display Value
0 1986 Western Pacific Viet Nam Wine 0.00
1 1986 Americas Uruguay Other 0.50
2 1985 Africa Cte d'Ivoire Wine 1.62
3 1986 Americas Colombia Beer 4.27
4 1987 Americas Saint Kitts and Nevis Beer 1.98

In [ ]:
import pandas as pd
import csv

data=pd.DataFrame({
    'year':[1986,1986,1985,1986,1987],
    'Who region':['western pacific','americas','africa','america','americas'],
    'country beverage':['vietnam','uruguay','cate d ivoire','colombia','saint kitts and nevis'],
    'types':['wine','other','wine','beer','beer'],
    'display value':[0.00,0.50,1.62,4.27,1.98]
})
print(data)
data.to_csv('data4.csv', index=False)
print("\n \n ")

with open('data4.csv', mode='r') as file:
  csvFile=csv.reader(file)
  for lines in csvFile:
    print(lines)

   year       Who region       country beverage  types  display value
0  1986  western pacific                vietnam   wine           0.00
1  1986         americas                uruguay  other           0.50
2  1985           africa          cate d ivoire   wine           1.62
3  1986          america               colombia   beer           4.27
4  1987         americas  saint kitts and nevis   beer           1.98



['year', 'Who region', 'country beverage', 'types', 'display value']
['1986', 'western pacific', 'vietnam', 'wine', '0.0']
['1986', 'americas', 'uruguay', 'other', '0.5']
['1985', 'africa', 'cate d ivoire', 'wine', '1.62']
['1986', 'america', 'colombia', 'beer', '4.27']
['1987', 'americas', 'saint kitts and nevis', 'beer', '1.98']

In [ ]:
import pandas as pd

data=pd.read_csv('data4.csv')
print("sample data ")
print(data.head())
print('\n Shape of the dataframe:',data.shape)
print('\n number of rows;',data.shape[0])
print('\n number of column:',data.shape[1])
print("\n extrac column names:")
print(data.columns)

sample data
   year       Who region       country beverage  types  display value
0  1986  western pacific                vietnam   wine           0.00
1  1986         americas                uruguay  other           0.50
2  1985           africa          cate d ivoire   wine           1.62
3  1986          america               colombia   beer           4.27
4  1987         americas  saint kitts and nevis   beer           1.98

 Shape of the dataframe: (5, 5)

 number of rows; 5

 number of column: 5

 extrac column names:
Index(['year', 'Who region', 'country beverage', 'types', 'display value'], dtype='object')